# Exercise

    1. Create 5 list comprehensions to solve the following 5 problems:
      A. Iterate a list of names to return a list of the names starting with H
      B. In one line create a list of the numbers 1-100 to the power of 3
      C. Iterate a list of names to create a list of tuples where the tuples
         first value is the length of the name and the second is the name
      D. Iterate over each character in a string and get only those that are
         nummeric
      E. Using only a list comprehension wrapped in set() get all possible
         combination from throwing 2 dice (hint use 2 for loops in a single
         list comprehension)

    2. Create 2 dictionary comprehensions to solve the following:
       A. Iterate a list of names and create a dictionary where key is the
          name and value is the length of the name
       B. Iterate a list of numbers and create a dictionary with {key:value}
          being {number:squareroot_of_number}

    3. Extra assignment (This one goes beyond what is covered in the course 
       notebooks. So only do it if you want an extra challenge).
       
       * Progammatically using loops create a small program to produce a
         dictionary with all the 2 dice throw combinations as keys and their
         likelyhood in percent as values

1A. Iterate a list of names to return a list of the names starting with H

In [8]:
names = ["Henry", "Lasse", "John", "Henriette", "hans"]
looking_for = ["h", "H"]
my_result = [name for name in names if (name[0] in looking_for)]
print (my_result)

#comprehension can only works if all if statements is true = not possible to use; or.
# alternativ is to make name uppercase with .upper()
h_names = [name for name in names if name.upper().startswith("H")]     

print (h_names)

['Henry', 'Henriette', 'hans']
['Henry', 'Henriette', 'hans']

1B. In one line create a list of the numbers 1-100 to the power of 3

In [39]:
powerOf3 = [x**3 for x in range(1,101)]
print (powerOf3)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824, 15625, 17576, 19683, 21952, 24389, 27000, 29791, 32768, 35937, 39304, 42875, 46656, 50653, 54872, 59319, 64000, 68921, 74088, 79507, 85184, 91125, 97336, 103823, 110592, 117649, 125000, 132651, 140608, 148877, 157464, 166375, 175616, 185193, 195112, 205379, 216000, 226981, 238328, 250047, 262144, 274625, 287496, 300763, 314432, 328509, 343000, 357911, 373248, 389017, 405224, 421875, 438976, 456533, 474552, 493039, 512000, 531441, 551368, 571787, 592704, 614125, 636056, 658503, 681472, 704969, 729000, 753571, 778688, 804357, 830584, 857375, 884736, 912673, 941192, 970299, 1000000]

1C. Iterate a list of names to create a list of tuples where the tuples
         first value is the length of the name and the second is the name

In [2]:
listOftuples = []
name_list = ["Po", "Bob", "John", "Chris"]

list_of_tuples = [(len(name), name) for name in name_list]
print (list_of_tuples)

[(2, 'Po'), (3, 'Bob'), (4, 'John'), (5, 'Chris')]

1D. Iterate over each character in a string and get only those that are
         nummeric

In [55]:
myStr = "Iwant2go4coffe 42"

resulte = [i for i in myStr if i.isdigit()]

print (resulte)

['2', '4', '4', '2']

1E. Using only a list comprehension wrapped in set() get all possible
         combination from throwing 2 dice (hint use 2 for loops in a single
         list comprehension)

In [115]:
dice = tuple(range(1,7))

dice_combo = []

for x in dice:
    for y in dice:
        dice_combo.append([x,y])

print ("number of dice sides = " +  str(dice))
print ("posible combination:")  
print (dice_combo)
print ("-----------------")
resultee = set(str(x) +", "+ str(y) for x in dice for y in dice)
print (" comprehension: ") 
print (resultee)
print ("-----------------")
print ("cartesian_product:")
cartesian_product = set([(d1, d2) for d1 in range(1,7) for d2 in range(1,7)])
print (cartesian_product)

number of dice sides = (1, 2, 3, 4, 5, 6)
posible combination:
[[1, 1], [1, 2], [1, 3], [1, 4], [1, 5], [1, 6], [2, 1], [2, 2], [2, 3], [2, 4], [2, 5], [2, 6], [3, 1], [3, 2], [3, 3], [3, 4], [3, 5], [3, 6], [4, 1], [4, 2], [4, 3], [4, 4], [4, 5], [4, 6], [5, 1], [5, 2], [5, 3], [5, 4], [5, 5], [5, 6], [6, 1], [6, 2], [6, 3], [6, 4], [6, 5], [6, 6]]
-----------------
 comprehension:
{'5, 3', '3, 2', '6, 5', '1, 4', '5, 5', '6, 4', '2, 2', '5, 2', '2, 6', '5, 6', '3, 4', '1, 5', '2, 1', '3, 3', '3, 6', '2, 5', '1, 2', '5, 4', '6, 3', '6, 1', '4, 1', '1, 6', '5, 1', '3, 5', '4, 3', '4, 4', '2, 4', '4, 5', '4, 2', '6, 6', '4, 6', '6, 2', '1, 3', '2, 3', '1, 1', '3, 1'}
-----------------
cartesian_product:
{(1, 3), (6, 6), (5, 6), (2, 1), (6, 2), (1, 6), (5, 1), (2, 5), (1, 2), (3, 3), (5, 5), (4, 4), (6, 3), (1, 5), (3, 6), (2, 2), (4, 1), (1, 1), (6, 4), (3, 2), (2, 6), (5, 4), (4, 5), (5, 2), (1, 4), (2, 3), (4, 2), (6, 5), (3, 5), (5, 3), (4, 6), (6, 1), (3, 1), (4, 3), (3, 4), (2, 4)}

2A.  Iterate a list of names and create a dictionary where key is the
          name and value is the length of the name

In [5]:
name_list = ["bob","Judy", "Johntan" , "Chris"]
print ("Names to add to dictionari:" + str(namelist))
my_dictionari = {}

for name in name_list:
    key = len(name)
    my_dictionari[key] = name
    
print (my_dictionari)

Names to add to dictionari:['bob', 'Judy', 'Johntan', 'Chris']
{3: 'bob', 4: 'Judy', 7: 'Johntan', 5: 'Chris'}

2B. Iterate a list of numbers and create a dictionary with {key:value}
          being {number:squareroot_of_number}

In [16]:
import math
list_of_numbers = [1,2,3,4,5]


number_dictionari = {}

for number in list_of_numbers:
    number_dictionari[number] = math.sqrt(number)
    print (str(number) + ": " +  str(number_dictionari[number]))

1: 1.0
2: 1.4142135623730951
3: 1.7320508075688772
4: 2.0
5: 2.23606797749979